<a href="https://colab.research.google.com/github/Joshua-Catahan/CPE-103-OOP-1-A/blob/main/LOOP_STATEMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FOR LOOPS

In [3]:
#EXAMPLE 1 (THE BREAK STATEMENT)

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [4]:
#EXAMPLE 3 (THE BREAK STATEMENT)

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
      break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [6]:
#EXAMPLE 3 (THE BREAK STATEMENT)

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
      break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [10]:
#EXAMPLE 4 (LOOPING THROUGH A STRING)
for x in "week":
  print (x)

w
e
e
k

THE RANGE () FUNCTION

In [12]:
for x in range (6):
  print(x)

0
1
2
3
4
5

In [17]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [20]:
for x in range(2, 6, 2):
  print(x)

2
4

NESTED LOOP

In [21]:
adjective  = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

PYTHON WHILE LOOP

In [29]:
#EXAMPLE 5
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [31]:
#EXAMPLE 5
i = 1
while i < 6:
  i += 1
  print(i)

2
3
4
5
6

In [33]:
#the break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [75]:
#the continue statement
i = 0
while i < 6:
    i += 1
    if i == 3:
       continue
    if i == 6:
       break
    print(i)

1
2
4
5

In [77]:
#THE ELSE STATEMENT

i = 1
while i < 6:
  print (i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

APLLICATION 1

In [78]:
x = 0
while x < 11:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

# PRACTICAL TEST

CREATE A PYTHON PROGRAM THAT DISPLAYS INTEGERS LESS THAN 10 BUT NOT LESS THAN 3



WHICH MEANS THAT THE DISPLAY NUMBERS SHOULD BE 3 TO 9

In [91]:
#EXAMPLE 1

x = 3
while x < 10:
  print ("Integer: ", x)
  x += 1

Integer:  3
Integer:  4
Integer:  5
Integer:  6
Integer:  7
Integer:  8
Integer:  9

In [87]:
#EXAMPLE 2

numbers = {"Integer: "}
integer = {3,4,5,6,7,8,9}

for x in numbers:
  for y in integer:
    print(x, y)

Integer:  3
Integer:  4
Integer:  5
Integer:  6
Integer:  7
Integer:  8
Integer:  9

In [92]:
#EXAMPLE 3

for x in range (3, 10):
  print("Integer: ", x)

Integer:  3
Integer:  4
Integer:  5
Integer:  6
Integer:  7
Integer:  8
Integer:  9