<a href="https://colab.research.google.com/github/Joshua-Catahan/CPE-103-OOP-1-A/blob/main/Lab_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A string is a sequence

In [32]:
fruit = 'banana'
letter = fruit[1]

# ANALYZATION
# This code assigns the second character of the string 'banana' (which is 'a') to the variable letter.

In [34]:
print(letter)

# ANALYZATION
# This print the assigned string to banana. Which in the previous code stated to be a according to the list.

a

In [35]:
letter = fruit[0]
print(letter)

# ANALYZATION
# This code assigns the first character of the string 'banana' (which is 'b') to the variable letter.

b

In [36]:
letter = fruit[1.5]

# ANALYZATION
# This code doesn't work since there are no such positions like 1.5. Only whole numbers are allowed.

TypeError: string indices must be integers, not 'float'

GETTING THE LENGTH OF A STRING USING LEN

In [37]:
fruit = 'banana'
len(fruit)

# ANALYZATION
# This code check the length(letters) of the assigned variable of fruit, which is 'banana'. Therefore printing "6".

6

In [55]:
length = len(fruit)
last = fruit[length]

# ANALYZATION
# This code throws an error because fruit[length] tries to access an index equal to the string's length,
# which is out of range since indexing starts at 0.

TypeError: string indices must be integers, not 'str'

In [39]:
last = fruit[length-1]
print(last)

# This code correctly prints the last character of the string 'banana' (which is 'a')
# by accessing the index length - 1, since string indices start at 0.

a

Traversal through a string with a loop

In [40]:
index = 0
while index < len(fruit):
  letter = fruit[index]
  print(letter)
  index = index + 1

# ANALYZATION
# This code goes uses a while loop. it set the index at 0 and constantly print a letter inside the variable letter.
# This goes on until it hit the same length of the fruit, in which the program stop. Since it does not meet the condition.

b
a
n
a
n
a

In [41]:
for char in fruit:
  print(char)

# ANALYZATION
# This code uses a for loop.
# It prints the available character that was assigned the variable named fruit

b
a
n
a
n
a

String Slices

In [59]:
s = 'Monty Python'
print(s[0.5])

# ANALYZATION
# This code causes a TypeError because string indices must be integers, and 0.5 is a float.

TypeError: string indices must be integers, not 'float'

In [60]:
print(s[6:12])

# ANALYZATION
# This prints 'Python' by slicing from index 6 to 11 of the string 'Monty Python' (not including 12).

Python

In [44]:
fruit = 'banana'
fruit[:3]

# ANALYZATION
# This returns 'ban' by slicing from the beginning up to index 3 (not including 3).

'ban'

In [45]:
fruit[3:]

# ANALYZATION
# This returns 'ana' by slicing from index 3 to the end of the string.

'ana'

In [46]:
fruit = 'banana'
fruit[3:3]

# ANALYZATION
# This returns an empty string '' because the start and end index are the same.

''

Strings are immutable

In [47]:
greeting = 'Hello, world!'
greeting[0] = 'J'

# This will result in a TypeError because strings cannot be modified directly.

TypeError: 'str' object does not support item assignment

In [48]:
greeting = 'Hello, world!'
new_greeting = 'J' + greeting[1:]
print(new_greeting)

# This code prints 'Jello, world!' by replacing the first character of 'Hello, world!' with 'J'.

Jello, world!

Looping and counting

In [49]:
word = 'banana'
count = 0
for letter in word:
  if letter == 'a':
    count = count + 1
print(count)

# ANALYZATION
# This code counts and prints the number of times the letter 'a' appears in 'banana', which is 3.

3

SUPPLEMENTARY ACTIVITY

In [50]:
str = 'CPE-CPE009A-2025: 0.8475'
colon_position = str.find(':')
number_str = str[colon_position + 1:].strip()
number = float(number_str)
print(number)

0.8475

# This code finds the position of the colon : in the string, then slices the string from the character after the colon, removes any extra spaces with strip(), converts the resulting substring to a float, and prints the value 0.8475

In [51]:
first_name = input("Enter your first name: ")
if len(first_name) >= 3:
    middle_index = len(first_name) // 2
    middle_three_letters = first_name[middle_index - 1: middle_index + 2]
    print("The middle 3 letters are:", middle_three_letters)
else:
    print("Your name is too short.")

Enter your first name: Joshua
The middle 3 letters are: shu

# This code checks if the first name is at least 3 characters long, then extracts and prints the middle 3 letters; otherwise, it prints "Your name is too short."

CONCLUSION:

- In summary, the lab exercises illustrated how to apply string manipulation methods in Python, such as indexing, slicing, and string conversion. We learned how to pull out desired parts of strings, work around string immutability, and do basic error handling with input validation. These basic skills are necessary when dealing with text data in Python and serve as a foundation for more advanced operations and algorithms.