<a href="https://colab.research.google.com/github/Joshua-Catahan/CPE-103-OOP-1-A/blob/main/Literals%2C_Operators%2C_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning variables of different data types in Python

In [ ]:
value = 5
print(value)
type(value)

5

int

In [ ]:
value = 5.0
print(value)
type(value)

5.0

float

In [ ]:
value = 2+3j
print(value)
type(value)

(2+3j)

complex

In [ ]:
value = 'Hello World'
print(value)
type(value)

Hello World

str

In [ ]:
value = "Hello World"
print(value)
type(value)

Hello World

str

In [ ]:
value = True
print(value)
type(value)

True

bool

In [ ]:
value = False
print(value)
type(value)

False

bool

In [ ]:
value = [1,2,3,4,5]
print(value)
type(value)

[1, 2, 3, 4, 5]

list

In [ ]:
value = (1,2,3,4,5)
print(value)
type(value)

(1, 2, 3, 4, 5)

tuple

In [ ]:
value = { 'name': 'Joshua Catahan' }
print(value)
type(value)

{'name': 'Joshua Catahan'}

dict

In [ ]:
value = None
print(value)
type(value)

None

NoneType

In [ ]:
value = 5
value2 = -6
print(value + value2)

-1

Performing Operations with Python
#2

In [ ]:
#A
value, value2 = 5.0, 6
print(value + value2)

11.0

In [ ]:
#B
value, value2 = -5, 6.1
print(value + value2)

1.0999999999999996

In [ ]:
#C
value, value2 = "Hello", ' world'
print(value + value2)

Hello world

In [ ]:
#D
value, value2 = [1,2,3], [4,5,6]
print(value + value2)

[1, 2, 3, 4, 5, 6]

In [ ]:
#E
value, value2 = (1,2,3), (4,5,6)
print(value + value2)

(1, 2, 3, 4, 5, 6)

In [ ]:
#F
value = {"name":"Royce"}
value2 = {"age": 2 }
addition = {**value, **value2}
print(addition)

{'name': 'Royce', 'age': 2}

#3

In [ ]:
#A
value, value2 = 30, 4
print(value*value2)

120

In [ ]:
#B
value, value2 = 30, 4
print(value2**2)

16

In [ ]:
#C
value, value2 = 30, 4
print(value2**3)

64

In [ ]:
#D
value, value2 = 30, 4
print(value*value2+value2**2+1)

137

In [ ]:
#E
value, value2 = 30, 4
print(value/value2)

7.5

In [ ]:
#F
value, value2 = 30, 4
print(value%value2)

2

Assigning Input Data to a Variable

In [ ]:
#Finding a personâ€™s BMI (metric)

name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your meters(m): "))

bmi = weight/(height)**2
print("Name: ", name)
print("Weight: ", weight)
print("Height: ", height)
print("BMI= ",bmi)

Enter your name: John Ray
Enter your weight(kg): 60
Enter your meters(m): 1.6764
Name:  John Ray
Weight:  60.0
Height:  1.6764
BMI=  21.349904958763087

Supplementary Activity

In [ ]:
#1.	Write the Python equivalent code of the following C code:

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

print ("The area of the triangle is: ", (base*height)/2)

Enter the base of the triangle: 10
Enter the height of the triangle: 10
The area of the triangle is:  50.0

In [ ]:
#2
celsius = float(input("Enter the value in degree celcius: "))
print ("The value converted in fahrenheit is ", (celsius*9/5)+32," degrees" )

Enter the value in degree celcius: -20
The value converted in fahrenheit is  -4.0  degrees

In [ ]:
#3

print ("Enter the coordinate of the first pair of x and y")
x = float(input("Enter the value of x1: "))
y = float(input("Enter the value of y1: "))
print ("Enter the coordinate of the second pair of x and y")
x_2 = float(input("Enter the value of x2: "))
y_2 = float(input("Enter the value of y2: "))

distance = ((x_2 - x)**2 + (y_2 - y)**2)**0.5
print ("The distance between the two points is: ", distance)

Enter the coordinate of the first pair of x and y
Enter the value of x1: 2
Enter the value of y1: 2
Enter the coordinate of the second pair of x and y
Enter the value of x2: -3
Enter the value of y2: 3
The distance between the two points is:  5.0990195135927845