<a href="https://colab.research.google.com/github/Joshua-Catahan/CPE-103-OOP-1-A/blob/main/OPERATIONS_AND_EXPRESSIONS_IN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BOOLEAN OPERATORS

In [ ]:
print (10>9)
print (10==9)
print (10<9)

True
False
False

BOOL FUNCTTON

In [ ]:
print (bool("hello"))
print (bool(15))
print (bool(0))
print (bool(-2))

True
True
False
True

FUNCTIONS CAN RETURN A BOOLEAN

In [109]:
def myFunction():
  return True

  if myFunction():
    print("YES")
  else:
    print("NO")

EXAMPLE:

In [ ]:
print (10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

PYTHON OPERATORS

In [ ]:
print(10+50)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

60
5
50
2.0
0
3
100

PYTHON BITWISE OPERATORS

In [ ]:
a = 60
b = 13

print(a&b)
print(a|b)
print(a^b)
print(~a)
print(~b)
print(a << 2)

12
61
49
-61
-14
240

PYTHON ASSIGNMENT OPERATORS

In [ ]:
x = 5


x += 3
print (x)
x -= 3
print (x)
x *= 3
print (x)
x /= 3
print (x)
x %= 3
print (x)

8
5
15
5.0
2.0

LOGICAL OPERATOR

In [ ]:
not (10>9 and 9>10)

True

IDENTITY OPERATOR

In [ ]:
x = 1
y = 2
print (x is y)
print (x is not y)

False
True

CONDITIONAL STATEMENT IN PYTHON

IF STATEMENT

In [ ]:
a = 12
b = 100
if b> a:
  print("b is greater than a")

b is greater than a

ELIF STATEMENT

In [78]:
a = 200
b = 33
if b > a:
     print("b is greater than a")
elif a == b:
     print("a and b are equal")
else:
     print("a is greater than b")

a is greater than b

SHORT HAND IF STATEMENT

In [79]:
if a>b: print ("a is greater than b")

a is greater than b

SHORT IF ELSE STATEMENT

In [80]:
a = 2
b = 330
print ("A") if a > b else print ("B")

B

AND-BOTH CONDITIONS ARE TRUE

In [81]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

OR-AT LEAST ONE OF THE CONDITIONS IS TRUE

In [83]:
a = 200
b =33
c = 500
if a> b or a> c:
    print("At least one of the conditions is True")

At least one of the conditions is True

NESTED IF ELSE

In [114]:
x = 29.99

if x > 10 :
  print ("Above ten,")
  if x > 20:
    print ("and also above 20!")
    if x > 30:
      print ("and also above 30!")
      if x > 40:
        print ("and also above 40!")
        if x > 50:
          print ("and also above 50.")
        else:
           print ("but not above 50.")
      else:
        print ("but not above 40.")
    else:
      print ("but not above 30.")
  else:
    print ("but not above 20.")
else:
  print ("but not above 10.")

Above ten,
and also above 20!
but not above 30.