<a href="https://colab.research.google.com/github/Joshua-Catahan/CPE-103-OOP-1-A/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON INDENTATION

In [ ]:
x=5
y=2
if x > y:
 print("Five is greater than two!")

Five is greater than two!

PYTHON COMMENTS

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

VARIABLE NAMING CONVENTIONS

In [ ]:
#EXAMPLES IN PPT

myvar = "John"
2myvar = "John" #not valid
_my_var = "John"
myVar = "John"
my var = "John" #not valid

SyntaxError: invalid decimal literal (<ipython-input-2-de420672b487>, line 4)

PYTHON VARIABLE

In [ ]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2
b= "Sally" #this is a type of string
print(b)

Sally

CASTING

In [ ]:
b = "sally" #This is a type of string
b = int (4)
print (b)

b=float(4)
print (b)

4
4.0

TYPE () FUNCTION

In [ ]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"DOUBLE QUOTES" OR 'SINGLE' QUOTES

In [ ]:
x = "John"
print (x)

y = 'John'

print (y)

John
John

CASE SENSITIVE

In [ ]:
a = 4
A = "Sally"
#A WILL NOT OVERWRITE a
print(a)
print(A)

4
Sally

MULTIPLE VARIABLES

In [ ]:
a, b, c = "one", "two", "three"
print(a)
print(b)
print(c)

one
two
three

ONE VALULE TO MULTIPLE VARIABLES

In [ ]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

OUTPUT VARIABLES

In [ ]:
x = "enjoying"
print("Python programming is " + x)

x= "Python is "
y= "enjoying"
z=x+y
print(z)

Python programming is enjoying
Python is enjoying

ARITHMETIC OPERATIONS

In [ ]:
x = 10
y = 3

#exponentiation
x**y
print(x**y)
#division
x/y
print(x/y)
#floor division
x//y
print(x//y)
#multiplication
x*y
print(x*y)
#modulus
x%y
print(x%y)
#subtraction
x-y
print (x-y)
#addition
x+y
print(x+y)

1000
3.3333333333333335
3
30
1
7
13

ASSIGNMENT OPERATORS

In [ ]:
a,b,c, = 0, -1, 6
a+=2
print(a)
b-=3
print(b)
c*=2
print(c)

2
-4
12

COMPARISON OPERATORS

In [ ]:
X = 100
Y = 99

X>=Y

True

LOGICAL OPERATORS

In [ ]:
a, b, c = 0,-1,6
a>b and c>b

True

IDENTITY OPERATORS

In [ ]:
a,b,c=0,-1,5
a is c

False

BITWISE OPERATORS

In [ ]:
#DECIMAL TO BINARY
#10 = 1010
#DECIMAL TO BINARY
#10 = 1010

x= 10
print(x >> 1)

5

APPLICATION 1

In [ ]:
# Square
print ("Area of the Square Calculator")

print ("What is the side of the square: ")
SQUAREside = input()
SQUAREside = int(SQUAREside)
l = SQUAREside
print ("The area of the square is: ")
print (l*l)

Area of the Square Calculator
What is the side of the square:
5
The area of the square is:
25

In [1]:
# Triangle
print ("Area of the Triangle Calculator")

print ("What is the base of the triangle: ")
base = input()
base = int(base)
print ("What is the height of the triangle: ")
height = input()
height = int(height)
print ("The area of the triangle is: ")
print ((base*height)/2)

Area of the Triangle Calculator
What is the base of the triangle:
12
What is the height of the triangle:
10
The area of the triangle is:
60.0

In [ ]:
# Trapezoid
print ("Area of the Trapezoid Calculator")

print ("What is the base a of the trapezoid: ")
basea = input()
basea = int(basea)
print ("What is the base b of the trapezoid: ")
baseb = input()
baseb = int(baseb)
print ("What is the height of the trapezoid: ")
height = input()
height = int(height)
print ("The area of the trapezoid is: ")
print ((10(basea+baseb)/2)*height)

Area of the Trapezoid Calculator
What is the base a of the trapezoid:
100
What is the base b of the trapezoid:
100
What is the height of the trapezoid:
2
The area of the trapezoid is:
200.0